.flickity-page-dots {
  text-align: start;
}

.flickity-page-dots .dot {
  background: #d8d8d8;
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 .2rem 0 .2rem;
}

.flickity-page-dots .is-selected {
  background: #1d4ed8;
  width: 1.5rem;
  height: 0.4rem;
  border-radius: 0.5rem;
  margin: 0 .2rem 0 .2rem;
}
